
<!DOCTYPE html>
<html>
<head>
  <title>CRUD App</title>
</head>
<body>
  <h1>User List</h1>
  <ul class="users">
    <% users.forEach(user => { %>
      <li class="user"><%= user.username %>: <%= user.password %></li>
    <% }) %>
  </ul>

  <h2>Add User</h2>
  <form action="/users" method="POST">
    <input type="text" name="username" placeholder="Username" required>
    <input type="text" name="password" placeholder="Password" required>
    <button type="submit">Submit</button>
  </form>

  <h2>Update User</h2>
  <form id="update-form">
    <input type="text" id="username" placeholder="Username" required>
    <input type="text" id="newPassword" placeholder="New Password" required>
    <button id="update-button">Update</button>
  </form>

  <h2>Delete User</h2>
  <form id="delete-form">
    <input type="text" id="delete-username" placeholder="Username" required>
    <button id="delete-button">Delete</button>
  </form>

  <script src="/main.js"></script>
</body>
</html>
